/* Importazione font */
@font-face {
    font-family:"RobotoRegular";
    src:    url("../font/Roboto_Regular/Roboto-Regular.eot?") format("eot"),
            url("../font/Roboto_Regular/Roboto-Regular.woff") format("woff"),
            url("../font/Roboto_Regular/Roboto-Regular.ttf") format("truetype"),
            url("../font/Roboto_Regular/Roboto-Regular.svg#Roboto-Regular") format("svg");
    font-weight:normal;
    font-style:normal;
}

@font-face {
    font-family:"RobotoThin";
    src:    url("../font/Roboto_Thin/Roboto-Thin.eot?") format("eot"),
            url("../font/Roboto_Thin/Roboto-Thin.woff") format("woff"),
            url("../font/Roboto_Thin/Roboto-Thin.ttf") format("truetype"),
            url("../font/Roboto_Thin/Roboto-Thin.svg#Roboto-Thin") format("svg");
    font-weight:normal;
    font-style:normal;
}

.displayItem{
    margin-top: 10px;
}

.titleItem{
    font-size: 1.5em;
    font-weight: bold;
    display: inline;
}

.statContainer{
    width: 100%;
    height: auto;
    display: none;
}

.subtitleItem{
    line-height: 1px;
    display: inline;
    color: rgba(0,0,0,0.4);
}

.statText{
    font-size: 1.8em;
    line-height: 20px;
}

.statTextDate{
    font-size: 1em;
    line-height: 20px;
    color: rgba(0,0,0,0.4);
}

.statTitle{
    font-size: 1.3em;
    line-height: 15px;
    font-weight: bold;
}

.statSubTitle{
    color: rgba(0,0,0,0.4);
    line-height: 10px;
}

.btn-primary{
    
}